body{
  margin:0;
}
.App{
  padding:30px;
}
.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav li {
  float: left;
}
.nav li a {
  display: block;
  color: hsla(0, 0%, 100%, 0.7);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav li a:hover {
  color:white;
}
